<div class="span8">
	<div class="widget-box">
		<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
			<h5>Compulsory Requirements</h5>
		</div>
		<div class="widget-content nopadding form-horizontal">
		<%= render "form", requirement: @requirement, compulsory_requirement: @compulsory_requirement %>
		</div>
	</div>
</div>
